@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}

/* sidebar */
.wrapper .sidebar {
  width: 15rem;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transition: width 300ms;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}
/* sidebar-logo  */
.wrapper .sidebar-brand {
  height: 5rem;
  background: rgb(255, 255, 255);
  /* margin-bottom: 1.7rem; */
}
.wrapper .sidebar-brand .main-logo {
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
}
.wrapper .sidebar-brand .toggle-logo {
  height: 4rem;
  padding: 1rem 0rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: none;
}
.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu .item {
  position: relative;
  width: 100%;
  /* remove */
  /* margin-bottom: 1.7rem; */
  /* padding-left: 1rem; */
  cursor: pointer;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}
.sidebar-menu a {
  display: block;
  color: #fff;
  font-size: 1rem;
  /* add */
  padding: 0.5rem 1rem;
  line-height: 2rem;
}
.sidebar-menu i {
  width: 0.5rem;
  margin-right: 0.5rem;
}
.sidebar-menu a .dropdown-icon {
  position: absolute;
  right: 0;
  margin: 0.5rem;
  transition: 0.3s ease;
}
.sidebar-menu .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  /* display: block; */
  transition: 0.3s;
  overflow: hidden;
}
.sidebar-menu .sub-menu.show {
  display: block;
}
.sidebar-menu .sub-menu a {
  padding-left: 4rem;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.1);
}

.sidebar-menu a.active {
  background: rgba(60, 255, 0, 0.582);
  color: #fff;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px 0 0 30px;
}
.sidebar-menu a:hover {
  background: rgba(60, 255, 0, 0.582);
}

.sidebar-menu a span:first-child {
  font-size: 1.1rem;
  padding-right: 1rem;
}

/* toggler */
#nav-toogle:checked + .sidebar {
  width: 3rem;
}
#nav-toogle:checked + .sidebar .sidebar-menu a.active {
  margin-left: -0.5rem;
  padding-left: 1rem !important;
}

#nav-toogle:checked + .sidebar .sidebar-brand,
#nav-toogle:checked + .sidebar .item {
  padding-left: 0.5rem;
  text-align: center;
}

#nav-toogle:checked + .sidebar .sidebar-brand .main-logo {
  display: none;
}
#nav-toogle:checked + .sidebar .sidebar-brand .toggle-logo {
  display: inline;
}

#nav-toogle:checked + .sidebar .item a {
  padding-left: 0.2rem;
}

#nav-toogle:checked + .sidebar .sidebar-brand h3 span:last-child,
#nav-toogle:checked + .sidebar .item a span:last-child {
  display: none;
}

#nav-toogle:checked ~ .main-content {
  margin-left: 3rem;
}
#nav-toogle:checked ~ .main-content header {
  width: calc(100% - 3rem);
  left: 3rem;
}

/* content wrapper  */
.wrapper .main-content {
  transition: margin-left 300ms;
  margin-left: 15rem;
  width: 100%;
}

/* navigation */
header {
  display: flex;
  justify-content: space-between;
  background: #4b5366;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 15rem;
  width: calc(100% - 15rem);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}
header .toggler-btn {
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1.2rem 1rem;
}
header label {
  margin: 0 !important;
}

#nav-toogle {
  display: none;
}

header label span {
  font-size: 1.7rem;
  padding: 0.5rem;
  cursor: pointer;
}
/* user menu */
.user-menu .nav-item .dropdown-toggle::after {
  display: none !important;
}
.user-menu .nav-link {
  color: #d1d3e2;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}
.user-menu .nav-link .badge-counter {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: 0.25rem;
  margin-top: -0.25rem;
}
.user-menu .dropdown .dropdown-menu {
  padding: 0 !important;
  border: none;
  overflow: hidden;
  font-size: 0.9rem;
  float: none;
  margin: 2rem 0 0;
}
.user-menu .dropdown .dropdown-header {
  background-color: #4e73df;
  border: 1px solid #4e73df;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
}
.user-menu .dropdown .dropdown-menu.show {
  display: block;
}
.user-menu .topbar-divider {
  width: 0;
  border-right: 1px solid #d1d3e2;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
#profile {
  margin-top: 1rem !important;
}

/* main content */
main {
  margin-top: 4rem;
  padding: 2rem 1rem;
  background: #f1f5f9;
  /* min-height: calc(100% - 0.95rem); */
  min-height: 87vh;
}

main .head-txt {
  color: #09c;
  font-size: 1.5rem;
}

/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
}
.card-single h1 + span {
  color: #c1c1c1;
}
.card-single i {
  font-size: 5rem;
  color: #b1b1b1;
}

/* footer bottom */
footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
}
footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

/****************** client-registration  ******************/
main .breadcrumb {
  border: 1px solid #ddd;
}
main .panel {
  border: 1px solid #337ab7;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
main .panel-heading {
  color: #fff;
  background-color: #6595bc;
  padding: 5px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #ddd;
}
main .panel-heading h5 {
  color: #fff;
  font-size: 16px;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-weight: 550;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}
main .panel-heading .btn {
  color: #fff;
  background: #4b5366;
  float: right;
  border-radius: 3px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  line-height: 30px;
  padding: 4px 10px;
  font-size: 14px;
}
main .panel-body {
  padding: 15px;
}

main .panel-body .form-group {
  margin-bottom: 2rem;
}

main .panel-body label.col-md-2.control-label {
  padding-left: 2rem;
}

main .panel-body .sec-head {
  padding-bottom: 2rem;
}

main .panel-body .btn.btn-primary.text-center {
  margin-right: 2rem;
  padding: 0.5rem 5rem;
}

main .panel-body #button-addon,
main .panel-body #button-addon2 {
    color: #0069be;
    border-color: #c1c1c1;
    background: #eeee;
}
main .panel-body h6 {
    font-size: 14px;
    padding-top: 11px;
    font-weight: 600;
}
main .panel-body input,
main .panel-body textarea {
    font-size: 13px !important;
    padding: 0.6rem 1rem !important;
}
main .panel-body select {
  font-size: 13px !important;
  padding: 0rem 1rem !important;
}
main .panel-body .input-group-append {
  height: 34px  ;
}

.wrapper .container {
  position: relative;
  width: 100%;
}
.wrapper .navigation {
  position: fixed;
  width: 15rem;
  height: 100%;
  /* background: #003147; */
  transition: 0.5s;
  overflow: hidden;
}
.wrapper .navigation ul {
}

/************************ page wrapper  ************************/
#wrapper {
  display: flex;
}
/* footer */
footer .copyright {
  
}
/************************ login / register form ************************/
.login-bg {
  background: url("../img/login-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.login-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.35rem;
  box-shadow: 0 0 20px #041c26;
}

.login-card .form-control-user {
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
}

.login-card .btn-social {
  border-color: #fff;
}
.login-card .custom-color {
  color: #dee6fe;
}

/* modal container */
.model-container,
.model-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  z-index: 500000;
}

.model-container h3,
.model-container2 h3 {
  /* background: #eeee; */
  padding-bottom: 1rem;
}
.model-container form,
.model-container2 form {
  height: 480px;
  min-width: 457px;
  margin: 0 10px;
  padding: 2rem;
  background: #fff;
  text-align: center;
  position: relative;
}
.model-container #close,
.model-container2 #close2 {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
